<!DOCTYPE html>

<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" media="all" href="<%= css %>" />

  <%
    for (var i=0, l=sections.length; i<l; i++) {
      var section = sections[i];
      if ('head' == section.codeOptions.inject) {
      %><%= section.codeText %><%
      }
    }
  %>

</head>
<body>
  <div id="container">
    <div id="background"></div>
    <% if (sources.length > 1) { %>
      <ul id="jump_to">
        <li>
          <a class="large" href="javascript:void(0);">Jump To &hellip;</a>
          <a class="small" href="javascript:void(0);">+</a>
          <div id="jump_wrapper">
          <div id="jump_page_wrapper">
            <div id="jump_page">
              <% for (var i=0, l=sources.length; i<l; i++) { %>
                <% var source = sources[i]; %>
                <a class="source" href="<%= path.basename(destination(source)) %>">
                  <%= path.basename(source) %>
                </a>
              <% } %>
            </div>
          </div>
        </li>
      </ul>
    <% } %>
    <ul class="sections">
        <% if (!hasTitle) { %>
          <li id="title">
              <div class="annotation">
                  <h1><%= title %></h1>
              </div>
          </li>
        <% } %>
        <% for (var i=0, l=sections.length; i<l; i++) { %>
        <% var section = sections[i]; %>
        <li id="section-<%= i + 1 %>">
            <div class="annotation">
              <% heading = section.docsHtml.match(/^\s*<(h\d)>/) %>
              <div class="pilwrap <%= heading ? 'for-' + heading[1] : '' %>">
                <a class="pilcrow" href="#section-<%= i + 1 %>">&#182;</a>
              </div>
              <%= section.docsHtml %>
            </div>
            <% if (section.codeText.replace(/\s/gm, '') != '') { %>
              <div class="content">
              <% if (!section.codeOptions.autorun && !section.codeOptions.runnable) { %>
               <%= section.codeHtml %>
              <% } %>
              <% if (section.codeOptions.autorun || (section.codeOptions.runnable && !section.codeOptions.editable)) { %>
               <%= section.codeHtml %>
               <script>
                 function runSection<%=(i+1)%>() {
                   <%= section.codeText %>
                 }
                 </script>
              <% } %>
              <% if (section.codeOptions.runnable && section.codeOptions.editable) { %>
                <div contentEditable="true" id="codeBlock<%=(i+1)%>"><%= section.codeHtml %></div>
                <div id="runStatus<%=(i+1)%>"></div>
                <script>
                 function runSection<%=(i+1)%>() {
                   var code = document.getElementById('codeBlock<%=(i+1)%>');
                   var status = document.getElementById('runStatus<%=(i+1)%>');
                   try {
                     var fun = new Function(code.innerText || code.textContent);
                     fun();
                     status.innerHTML = '';
                   } catch (x) {
                     status.innerHTML = ''+x;
                   }
                 }
                </script>
              <% } %>
              <% if (section.codeOptions.runnable) { %>
                 <button onclick="runSection<%=(i+1)%>()">Run</button>
              <% } %>
            </div>
              <%   if ('sample' == section.codeOptions.inject) { %>
                <div class="sample" id="sample<%=i%>"><%= section.codeText %></div>
                <div class="sample--placeholder" id="sample<%=i%>r"></div>
                <script>
                window.addEventListener('load', function() {
                    var thisSample = document.getElementById('sample<%=i%>');
                    var thisSampleR = document.getElementById('sample<%=i%>r');
                    var top = thisSample.offsetTop;
                    var oldClass = thisSample.className;
                    var fixedClass = oldClass + ' sample--fixed';
                    document.addEventListener('scroll', function() {
                      //console.log('onscroll:', window.scrollY, top);
                      if (window.scrollY >= top) {
                        thisSample.className = fixedClass;
                        thisSampleR.style.minHeight = thisSample.offsetHeight+'px';
                      } else {
                        thisSample.className = oldClass;
                        thisSampleR.style.minHeight = '0';
                      }
                    });
                });
                </script>
              <%   }%>
            <% } %>
        </li>
        <% } %>
    </ul>
  </div>
<!--
  <div id="sampleoutput" class="sampletop sampleright">
-->
  <div style="display:none">
  <% for (var i=0, l=sections.length; i<l; i++) { %>
  <%   var section = sections[i]; %>
  <%   if ('body' == section.codeOptions.inject) { %>
        <%= section.codeText %>
  <%   }%>
  <% }%>
  </div>
  <script>
  <% for (var i=0, l=sections.length; i<l; i++) { %>
  <%   var section = sections[i]; %>
  <%   if ('script' == section.codeOptions.inject) { %>
        <%= section.codeText %>
  <%   }%>
  <% }%>
  <% for (var i=0, l=sections.length; i<l; i++) { %>
  <%   var section = sections[i]; %>
      <% if (section.codeOptions.autorun) { %>
         <script>runSection<%=(i+1)%>()</script>
      <% } %>
  <% }%>
  </script>
</body>
</html>
